<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="insert" parameterType="memberDto"> <!-- typeAlias 적용한 모습 -->
		INSERT INTO member
		(num, name, addr)
		VALUES(member_seq.NEXTVAL, #{name}, #{addr}) <!-- ; <<로 끝내지 않도록 주의 -->
		<!-- insert 된 아이디에서 정보를 받아와 샥 샥 -->
	</insert>
	
	<update id="update" parameterType="memberDto"> <!-- typeAlias 적용한 모습 -->
		UPDATE MEMBER
		SET name=#{name}, addr=#{addr}
		WHERE num=#{num} 
	</update>
	
	<delete id="delete" parameterType="int">
      	DELETE FROM member 
      	WHERE num=#{num}
   	</delete>
   	<!-- resultType="select 된 row 하나를 담을 데이터 type" -->
   	<!-- com.gura.step03.member.dto.MemberDto는 memberDto 로 치환해둠(typeAlias)-->
   	<select id="getData" parameterType="int" resultType="memberDto">
		SELECT num, name, addr
		FROM member
		WHERE num=#{num}   		
   	</select>
	
	<select id="getList" resultType="memberDto">
	<!-- 당연히 자동으로 되는 조건은 Dto 필드랑 칼럼명이 같야야 되게찌  -->
      	SELECT num, name, addr
      	FROM member
      	ORDER BY num ASC
   	</select>   	
</mapper>